<div class='col-lg-6 mx-lg-auto'>
  <div class='card shadow' style="width: 22rem;">
    <div class='card-header'>
      <h2 class='card-title text-center'>Forgot your password?</h2>
    </div>
    <div class='card-body'>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mb-4">
          <%= f.label :email,class: "mb-4" %>
          <%= f.email_field :email,
                        autofocus: true,
                        autocomplete: "email",class: "form-control form-control-lg",
                        value:
                          (
                            if resource.pending_reconfirmation?
                              resource.unconfirmed_email
                            else
                              resource.email
                            end
                          ) %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Resend  instructions",class:"btn btn-lg btn-primary" %>
        </div>
      <% end %>
    <br>


<%= render "users/shared/links" %>
</div>
  </div>
<div>

