<% if user_signed_in?%>

<%=image_tag(current_user.image,style: 'height:10%;width:10%;float:right;margin-left: auto;border-radius: 50%;')%>

<a href="/home/userprofile", style="text-align:right;">your profile</a>

<%end%>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in?%>
<p> Hey <%= current_user.username %> after login page show</p>


<% else%>
<p> before login page show</p>

<% end %>

<table>
<tr>
<th>Emails</th>
<th>username</th>
<th>image</th>
</tr>

<tr>
<% @user.each do |user|%>
<%#= format_name(student.Firstname)%>
<td><%= user.email %></td>
<td><%=user.username%></td>
<td><%=image_tag(user.image)%>

</tr>

<%end%>
</table>
