<h1>Save Post</h1>
<%  @savepost.each do |post| %>
  <div
    class="card"
    style="width: 18rem;padding :25px;margin-top:50px;margin-left:80px;"
  >
 
   <%a1=Post.where(id:post.post_id)%>
   <%  a1.each do |post| %>
    <%= image_tag(post.file, style: "height:225px;width:250px;") %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
      <p class="card-text text-primary">created by:<%= post.author %></p>
       <%savepost = Postsave.where(user_id:current_user,post_id:post.id)%>
       <%postsave = savepost.ids.join.to_i%>
          <%b1=Postsave.find(postsave)%>
      <p><%= link_to image_tag("/assets/unsave.png",style: 'height:45px;width:45px;'),post_postsafe_path(b1.post.id,b1), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></p>
    </div>

   <%end%>
  

    <%#= image_tag(post.post_id.file, style: "height:225px;width:250px;") %>
    
  </div>
<% end %>

